
@{
    ViewBag.Title = "BarcodeYazici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="width:60%">
        <section id="main-container content" class="portfolio-static">


            <!-- Company Profile -->

            <div class="row">
                <div class="col-md-12 heading text-center" style="margin-top:90px">
                    <h2 class="title2">
                        BARCODE PRINTER ACCESSORIES
                        <span class="title-desc"> </span>
                    </h2>
                </div>
            </div><!-- Title row end -->

            <div id="portfolio-single" class="container">

                <div class="row">
                    <div class="col-md-7">

                        <div style="margin-top:15px">
                            <img alt="" class="img-responsive" src="~/Content/images/products/godex.png">
                        </div>

                    </div>

                    <div class="col-md-5">

                        <div class="padding15">
                            <h4>@KODMARK_new.Resources.BarcodeAccessoriesText.etiketSarici <b>@KODMARK_new.Resources.BarcodeAccessoriesText.godexBaslik1</b></h4>
                        </div>
                        <p>
                            <h4>
                        <p> <b>• @KODMARK_new.Resources.BarcodeAccessoriesText.etiketGenislik</b> @KODMARK_new.Resources.BarcodeAccessoriesText.g_genislik<br /></p>
                        <p> <b>• @KODMARK_new.Resources.BarcodeAccessoriesText.ruloCap</b> @KODMARK_new.Resources.BarcodeAccessoriesText.g_cap  <br /></p>
                        <p> <b>• @KODMARK_new.Resources.BarcodeAccessoriesText.sarmaHiz</b> @KODMARK_new.Resources.BarcodeAccessoriesText.g_sarmahiz<br /></p>
                        <p> <b>• @KODMARK_new.Resources.BarcodeAccessoriesText.sarimYon</b> @KODMARK_new.Resources.BarcodeAccessoriesText.g_sarimYon<br /> </p>

                        </h4>
                        </p>
                    </div>

                </div>
                <div class="row" style="margin-top:75px">
                    <div class="col-md-7">

                        <div style="margin-top:15px">
                            <img alt="" class="img-responsive" src="~/Content/images/products/towa.jpg">
                        </div>

                    </div>

                    <div class="col-md-5">

                        <div class="padding15">
                            <h4>@KODMARK_new.Resources.BarcodeAccessoriesText.altBaslik<b>@KODMARK_new.Resources.BarcodeAccessoriesText.apn30_baslik</b></h4>
                        </div>
                        <p>
                            <h4>
                        <p> <b>@KODMARK_new.Resources.BarcodeAccessoriesText.ozellik</b></p>
                        <p> •@KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik1<br /></p>
                        <p>• @KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik2 <br /></p>
                        <p> • @KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik3<br /> </p>
                        <p> • @KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik4<br /> </p>
                        <p> • @KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik5<br /> </p>



                        </h4>
                        </p>
                    </div>

                </div>
                <div class="row" style="margin-top:75px">
                    <div class="col-md-7">

                        <div style="margin-top:15px">
                            <img alt="" class="img-responsive" src="~/Content/images/products/apn.jpg">
                        </div>

                    </div>

                    <div class="col-md-5">

                        <div class="padding15">
                            <h4>@KODMARK_new.Resources.BarcodeAccessoriesText.altBaslik<b>@KODMARK_new.Resources.BarcodeAccessoriesText.apn100_baslik</b></h4>
                        </div>
                        <p>
                            <h4>
                        <p> <b>@KODMARK_new.Resources.BarcodeAccessoriesText.ozellik</b></p>
                        <p> •@KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik1<br /></p>
                        <p>•  @KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik2 <br /></p>
                        <p> •  @KODMARK_new.Resources.BarcodeAccessoriesText.apn100_ozellik3<br /> </p>
                        <p> • @KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik4<br /> </p>
                        <p> •@KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik5<br /> </p>



                        </h4>
                        </p>
                    </div>

                </div>
                <div class="row" style="margin-top:75px">
                    <div class="col-md-7">

                        <div style="margin-top:15px">
                            <img alt="" class="img-responsive" src="~/Content/images/products/apf.jpg">
                        </div>

                    </div>

                    <div class="col-md-5">

                        <div class="padding15">
                            <h4>@KODMARK_new.Resources.BarcodeAccessoriesText.altBaslik<b>@KODMARK_new.Resources.BarcodeAccessoriesText.apf60_baslik</b></h4>
                        </div>
                        <p>
                            <h4>
                        <p> <b>@KODMARK_new.Resources.BarcodeAccessoriesText.ozellik</b></p>
                        <p> •@KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik1<br /></p>
                        <p> •@KODMARK_new.Resources.BarcodeAccessoriesText.apn60_ozellik2 <br /></p>
                        <p> • @KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik2<br /> </p>
                        <p> • @KODMARK_new.Resources.BarcodeAccessoriesText.apn60_ozellik4<br /> </p>
                        <p> •@KODMARK_new.Resources.BarcodeAccessoriesText.apn30_ozellik4<br /> </p>



                        </h4>
                        </p>
                    </div>

                </div>



            </div>



        </section>
        <!-- CONTENT END -->
    </div>