
@{
    ViewBag.Title = "Endustriyel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-container content" class="portfolio-static">
    <div class="container" >

        <!-- Company Profile -->

        <div class="row" >
            <div class="col-md-12  col-xs-12 col-xl-12 col-sm-12 heading text-center" >
                <h2 class="title2" style="margin-top:90px">
                    INDUSTRIAL BARCODE PRINTERS
                    <span class="title-desc"> </span>
                </h2>
            </div>
        </div><!-- Title row end -->
    </div>




    <div id="portfolio-single" class="container" >
        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-12 col-xl-5 col-xs-12">
                <div style="margin-top:35px">
                    <img alt="" src="~/Content/images/products/endüstriyel.jpg" width="360" height="260" >
                </div>
            </div>

            <div class="col-md-7">

                <div class="padding15">
                    <h4>@KODMARK_new.Resources.IndustrialPrintersText.zebrabaslik1  @KODMARK_new.Resources.IndustrialPrintersText.zebrabaslik2</h4>
                </div>
                <p >
                    <table class="table table-bordered table-responsive" border=1 cellpadding="5" cellspacing="5" style="width:100%; height:100%; padding-left:0px; padding-right:0px; font-size:12px">
                        <tr>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.tabloZebraYaziciAdi</th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.zebramodel1</th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.zebramodel2</th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.zebramodel3</th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.zebramodel4</th>

                        </tr>
                        <tr>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.zebratabloBaski</th>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebraprint1</td>
                            <td>
                                @KODMARK_new.Resources.IndustrialPrintersText.zebraprint2
                            </td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebraprint3</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebraprint4</td>


                        </tr>
                        <tr>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.zebratabloBaskiGenislik</th>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebragenislik1</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebragenislik2</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebragenislik3</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebragenislik4</td>

                        </tr>
                        <tr>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.zebratabloBaskiHizi</th>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebrahiz1</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebrahiz2</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebrahiz3</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.zebrahiz4</td>

                        </tr>
                    </table>
                </p>

            </div>

        </div>
        <div class="row" style="margin-top:75px">
            <div class="col-md-5">



                <div style="margin-top:25px">
                    <img alt="" src="~/Content/images/products/toshiba.jpg">
                </div>



            </div>

            <div class="col-md-7">

                <div class="padding15">
                    <h4>@KODMARK_new.Resources.IndustrialPrintersText.toshibaBaslik1 @KODMARK_new.Resources.IndustrialPrintersText.toshibabaslik2</h4>
                </div>
                <p>
                    <table class="table table-bordered table-responsive" border=1 cellpadding="5" cellspacing="5" style="width:100%; height:100%; padding-left:0px; padding-right:0px; font-size:12px">
                        <tr>
                            <th> @KODMARK_new.Resources.IndustrialPrintersText.tabloToshibaYaziciAdi </th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.toshibamodel1</th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.toshibamodel2</th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.toshibamodel3</th>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.toshibamodel4</th>

                        </tr>
                        <tr>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.toshibaBaski</th>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibabaski1</td>
                            <td>
                                @KODMARK_new.Resources.IndustrialPrintersText.toshibabaski2
                            </td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibabaski3</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibabaski4</td>


                        </tr>
                        <tr>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.toshibaTabloBaskiGenisligi</th>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibaGenislik1</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibaGenislik2</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibaGenislik3</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibaGenislik4</td>

                        </tr>
                        <tr>
                            <th>@KODMARK_new.Resources.IndustrialPrintersText.ToshibaBaskiHizi</th>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibahiz1</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibahiz2</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibahiz3</td>
                            <td>@KODMARK_new.Resources.IndustrialPrintersText.toshibahiz4</td>

                        </tr>
                    </table>
                </p>

            </div>

        </div>

        @*<div class="row" style="margin-top:75px">
            <div class="col-xs-12">
                <h3 class="text-center">@KODMARK_new.Resources.IndustrialPrintersText.diger <b>@KODMARK_new.Resources.IndustrialPrintersText.urun</b></h3>
            </div>


            <div id="portfolio-carousel" class="owl-carousel owl-theme" style="display:table-header-group;opacity:1">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2184px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 273px;">
                            <div class="portfolio-item">
                                <div class="portfolio-top">
                                    <img alt="" class="img-responsive" src="~/Content/images/slides/ev4t.png">
                                    <div class="mask"></div>

                                    <ul class="list-unstyled list-inline">
                                        <li><a href="/Home/DesktopPrinter"><i class="fa fa-search fa-fw"></i></a></li>

                                    </ul>
                                </div>

                            </div>

                            <div class="portfolio-item">
                                <div class="portfolio-top">
                                    <img alt="" class="img-responsive" src="~/Content/images/slides/ep4.jpg">
                                    <div class="mask"></div>

                                    <ul class="list-unstyled list-inline">
                                        <li><a href="/Home/MobileBarcodePrinter"><i class="fa fa-search fa-fw"></i></a></li>

                                    </ul>
                                </div>

                            </div>

                            <div class="portfolio-item">
                                <div class="portfolio-top">
                                    <img alt="" class="img-responsive" src="~/Content/images/slides/apf.jpg">
                                    <div class="mask"></div>

                                    <ul class="list-unstyled list-inline">
                                        <li><a href="/Home/BarcodePrinterAccessories"><i class="fa fa-search fa-fw"></i></a></li>

                                    </ul>
                                </div>

                            </div>

                            <div class="portfolio-item">
                                <div class="portfolio-top">
                                    <img alt="" class="img-responsive" src="~/Content/images/slides/accessories.png">
                                    <div class="mask"></div>

                                    <ul class="list-unstyled list-inline">
                                        <li><a href="/Home/BarcodePrinterAccessories"><i class="fa fa-search fa-fw"></i></a></li>

                                    </ul>
                                </div>

                            </div>





                        </div>

                    </div>

                </div>
                </div>
            </div>*@
        </div>


</section>
<!-- CONTENT END -->