
@{
    ViewBag.Title = "Masaustu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="width:60%">
        <section id="main-container content" class="portfolio-static">


            <!-- Company Profile -->

            <div class="row">
                <div class="col-md-12 heading text-center" style="margin-top:90px">
                    <h2 class="title2">
                        DESKTOP BARCODE PRINTERS
                        <span class="title-desc"> </span>
                    </h2>
                </div>
            </div><!-- Title row end -->


            <div id="portfolio-single" class="container">

                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 col-lx-7 col-lg-7" style="margin-top:75px">
                        <div>
                            <img alt="" class="img-responsive" src="~/Content/images/products/zebragc.png">
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 col-xl-5 col-lg-5" style="margin-top:30px !important">
                        <div >
                            <h3>@KODMARK_new.Resources.DesktopPrinterText.zBaslik1 <b>@KODMARK_new.Resources.DesktopPrinterText.zBaslik2</b></h3>
                        </div>
                        <p>

                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiMetodu</b> @KODMARK_new.Resources.DesktopPrinterText.z_BaskiMetod<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.cozunurluk</b>@KODMARK_new.Resources.DesktopPrinterText.z_cozunurluk <br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.Hafiza</b>@KODMARK_new.Resources.DesktopPrinterText.z_hafiza<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiGenişligi</b> @KODMARK_new.Resources.DesktopPrinterText.z_BaskiGenislik<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiUzunluk</b> @KODMARK_new.Resources.DesktopPrinterText.z_baskiUzunluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiHizi</b> @KODMARK_new.Resources.DesktopPrinterText.z_BaskiHizi <br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.ProgramDil</b>@KODMARK_new.Resources.DesktopPrinterText.z_dil</p>

                    </div>

                </div>
                <div class="row" style="margin-top:75px">

                    <div class="col-md-7 col-md-7 col-sm-12 col-xs-12 col-lx-7 col-lg-7">
                        <div class="padding15">
                            <h3>@KODMARK_new.Resources.DesktopPrinterText.a_Baslik1 <b>@KODMARK_new.Resources.DesktopPrinterText.a_Baslik2</b></h3>
                        </div>
                        <p>

                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiMetodu</b> @KODMARK_new.Resources.DesktopPrinterText.a_BaskiMetod<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.cozunurluk</b>@KODMARK_new.Resources.DesktopPrinterText.a_Cozunurluk <br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.Hafiza</b>@KODMARK_new.Resources.DesktopPrinterText.a_hafiza<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiGenişligi</b> @KODMARK_new.Resources.DesktopPrinterText.a_BaskiGenislik <br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiUzunluk</b> @KODMARK_new.Resources.DesktopPrinterText.a_BaskiUzunluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiHizi </b> @KODMARK_new.Resources.DesktopPrinterText.a_BaskiHizi <br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.ProgramDil</b>@KODMARK_new.Resources.DesktopPrinterText.a_dil </p>

                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 col-xl-5 col-lg-5" style="margin-top:45px">
                        <div>
                            <img alt="" class="img-responsive" src="~/Content/images/products/argox.jpg">
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top:75px">
                    <div class="col-md-7 col-md-7 col-sm-12 col-xs-12 col-lx-7 col-lg-7" style="margin-top:75px">
                        <div>
                            <img alt="" class="img-responsive" src="~/Content/images/products/ev4t.png">
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 col-xl-5 col-lg-5">
                        <div class="padding15">
                            <h3>@KODMARK_new.Resources.DesktopPrinterText.evBaslik1 <b>@KODMARK_new.Resources.DesktopPrinterText.evBaslik2</b></h3>
                        </div>
                        <p>

                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiMetodu</b> @KODMARK_new.Resources.DesktopPrinterText.ev_BaskiMetod<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.cozunurluk</b>@KODMARK_new.Resources.DesktopPrinterText.ev_Cozunurluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.Hafiza</b>@KODMARK_new.Resources.DesktopPrinterText.ev_Hafiza<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiGenişligi</b> @KODMARK_new.Resources.DesktopPrinterText.ev_BaskiGenislik<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiUzunluk</b> @KODMARK_new.Resources.DesktopPrinterText.ev_BaskiUzunluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiHizi</b> @KODMARK_new.Resources.DesktopPrinterText.ev_BaskiHizi<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.ProgramDil</b>@KODMARK_new.Resources.DesktopPrinterText.ev_dil</p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.iletisimPort</b>@KODMARK_new.Resources.DesktopPrinterText.ev_Port</p>


                    </div>

                </div>
                <div class="row" style="margin-top:75px">

                    <div class="col-md-7 col-md-7 col-sm-12 col-xs-12 col-lx-7 col-lg-7">
                        <div class="padding15">
                            <h3>@KODMARK_new.Resources.DesktopPrinterText.fvBaslik1 <b>@KODMARK_new.Resources.DesktopPrinterText.fvBaslik2</b></h3>
                        </div>
                        <p>

                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiMetodu</b>@KODMARK_new.Resources.DesktopPrinterText.fv_BaskiMetod<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.cozunurluk</b>@KODMARK_new.Resources.DesktopPrinterText.fv_Cozunurluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.Hafiza</b>@KODMARK_new.Resources.DesktopPrinterText.fv_Hafiza<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiGenişligi</b>@KODMARK_new.Resources.DesktopPrinterText.fv_BaskiGenislik <br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiUzunluk</b> @KODMARK_new.Resources.DesktopPrinterText.fv_BaskiUzunluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.BaskiHizi</b> @KODMARK_new.Resources.DesktopPrinterText.fv_BaskiHizi<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.ProgramDil</b>@KODMARK_new.Resources.DesktopPrinterText.fv_dil</p>
                        <p> <b>• @KODMARK_new.Resources.DesktopPrinterText.iletisimPort</b>@KODMARK_new.Resources.DesktopPrinterText.fv_Port</p>


                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 col-xl-5 col-lg-5" style="margin-top:45px">
                        <div>
                            <img alt="" class="img-responsive" src="~/Content/images/products/fvt.jpg">
                        </div>
                    </div>
                </div>


                @*<div class="row" style="margin-top:75px">
                    <div class="col-xs-12">
                        <h3 class="text-center">@KODMARK_new.Resources.DesktopPrinterText.diger <b>@KODMARK_new.Resources.DesktopPrinterText.urun</b></h3>
                    </div>


                    <div id="portfolio-carousel" class="owl-carousel">

                        <div class="portfolio-item">
                            <div class="portfolio-top">
                                <img alt="" class="img-responsive" src="~/Content/images/slides/accessories.png">
                                <div class="mask"></div>

                                <ul class="list-unstyled list-inline">
                                    <li><a href="/Home/BarcodePrinterAccessories"><i class="fa fa-search fa-fw"></i></a></li>

                                </ul>
                            </div>

                        </div>

                        <div class="portfolio-item">
                            <div class="portfolio-top">
                                <img alt="" class="img-responsive" src="~/Content/images/slides/endüstriyel.jpg">
                                <div class="mask"></div>

                                <ul class="list-unstyled list-inline">
                                    <li><a href="/Home/IndustrielPrinter"><i class="fa fa-search fa-fw"></i></a></li>

                                </ul>
                            </div>

                        </div>

                        <div class="portfolio-item">
                            <div class="portfolio-top">
                                <img alt="" class="img-responsive" src="~/Content/images/slides/qln.jpg">
                                <div class="mask"></div>

                                <ul class="list-unstyled list-inline">
                                    <li><a href="/Home/MobileBarcodePrinter"><i class="fa fa-search fa-fw"></i></a></li>

                                </ul>
                            </div>

                        </div>

                        <div class="portfolio-item">
                            <div class="portfolio-top">
                                <img alt="" class="img-responsive" src="~/Content/images/slides/towa.jpg">
                                <div class="mask"></div>

                                <ul class="list-unstyled list-inline">
                                    <li><a href="/Home/BarcodePrinterAccessories"><i class="fa fa-search fa-fw"></i></a></li>

                                </ul>
                            </div>

                        </div>

                    </div>

                </div>*@

            </div>



        </section>
    </div>
<!-- CONTENT END -->
