
@{
    ViewBag.Title = "Mobil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="width:60%">
        <section id="main-container content" class="portfolio-static">


            <!-- Company Profile -->

            <div class="row">
                <div class="col-md-12 heading text-center" style="margin-top:90px">
                    <h2 class="title2">
                        MOBILE BARCODE PRINTERS
                        <span class="title-desc"> </span>
                    </h2>
                </div>
            </div><!-- Title row end -->

            <div id="portfolio-single" class="container">

                <div class="row">
                    <div class="col-md-7" style="margin-top:25px">
                        <div>
                            <img alt="" class="img-responsive" src="~/Content/images/products/argoxmobil.jpg">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="padding15">
                            <h3>@KODMARK_new.Resources.MobilePrinterText.a_baslik1 @KODMARK_new.Resources.MobilePrinterText.a_baslik2</h3>
                        </div>
                        <p>

                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiMetod</b> @KODMARK_new.Resources.MobilePrinterText.a_metod<br /></p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiGenislik</b> @KODMARK_new.Resources.MobilePrinterText.a_genislik <br /></p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiUuzunluk</b> @KODMARK_new.Resources.MobilePrinterText.a_uzunluk <br /></p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiHiz</b> @KODMARK_new.Resources.MobilePrinterText.a_hiz<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.hafiza</b>@KODMARK_new.Resources.MobilePrinterText.a_hafiza<br /> </p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.dilDestek</b>@KODMARK_new.Resources.MobilePrinterText.a_dil</p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.digerleri</b>@KODMARK_new.Resources.MobilePrinterText.a_diger</p>


                    </div>

                </div>
                <div class="row" style="margin-top:55px">

                    <div class="col-md-7">
                        <div class="padding25">
                            <h3>@KODMARK_new.Resources.MobilePrinterText.t_baslik1  @KODMARK_new.Resources.MobilePrinterText.t_baslik2</h3>
                        </div>
                        <p>

                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiMetod</b> @KODMARK_new.Resources.MobilePrinterText.t_metod<br /></p>
                        <p> <b>•@KODMARK_new.Resources.MobilePrinterText.cozunurluk</b>@KODMARK_new.Resources.MobilePrinterText.t_cozunurluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiGenislik</b> @KODMARK_new.Resources.MobilePrinterText.t_genisllik<br /></p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiUuzunluk</b> @KODMARK_new.Resources.MobilePrinterText.t_uzunluk<br /></p>
                        <p> <b>• @KODMARK_new.Resources.MobilePrinterText.baskiHiz</b> @KODMARK_new.Resources.MobilePrinterText.t_hiz<br /> </p>
                        <p> <b>•@KODMARK_new.Resources.MobilePrinterText.destekledigi</b>@KODMARK_new.Resources.MobilePrinterText.t_destek</p>



                    </div>
                    <div class="col-md-5">
                        <div style="margin-top:35px">
                            <img alt="" class="img-responsive" src="~/Content/images/products/ep4.jpg">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:75px">
                    <div class="col-md-7">
                        <div style="margin-top:5px;">
                            <img alt="" class="img-responsive" src="~/Content/images/products/imz.jpg" width="360" height="260" style="object-fit:fill">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="padding15">
                            <h3>@KODMARK_new.Resources.MobilePrinterText.zimz_baslik1 @KODMARK_new.Resources.MobilePrinterText.zimz_baslik2</h3>
                        </div>
                        <p>

                            @KODMARK_new.Resources.MobilePrinterText.zimzAciklama

                        </p>
                    </div>

                </div>
                <div class="row" style="margin-top:75px">

                    <div class="col-md-7">
                        <div class="padding15">
                            <h3>@KODMARK_new.Resources.MobilePrinterText.zqln_baslik1  @KODMARK_new.Resources.MobilePrinterText.zqln_baslik2</h3>
                        </div>
                        <p>

                            @KODMARK_new.Resources.MobilePrinterText.zqln_Aciklama

                        </p>
                    </div>
                    <div class="col-md-5">
                        <div style="margin-top:25px">
                            <img alt="" class="img-responsive" src="~/Content/images/products/qln.jpg">
                        </div>
                    </div>
                </div>



            </div>



        </section>
        <!-- CONTENT END -->
    </div>